.carousel_card_content {
    position: relative;
    width: 100%;
  height: 100%;
  background-size: cover;
  transition: transform 0.6s cubic-bezier(.165,.84,.44,1);
}

.carousel_card_title {
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    position: relative;
    color: #e5e5e5;
    width: 250px;
    /* left: -115px; */
    top: 50%;
    font-size: 3.3rem;
    font-weight: 700;
    transition: all 0.8s ease .3s;
}

.button_group {
   display: flex;
   justify-content: center;
   margin-top: 30px;
}

.button_group > * {
    height: 32px;
    width: 77px;
    border: none;
}

.button_group button {
    background-color: #060606;
    color: #e5e5e5;
}

.button_group button:hover {
  cursor: pointer
}

.button_group button:disabled {
  opacity: 0.5
}

.button_group button:is(:first-child) {
  margin-right: 20px
}

/* CarouselCard */
.carousel_card {
  min-width: 50%;
  width: 50%;
  height: 600px;
}

.carousel_card:not(.active) .carousel_card_content {
  transform: scale(0.9);
  filter: blur(5px);
}

.carousel_card.active .carousel_card_title {
  opacity: 1;
  transform: translateY(-50%)
}

.carousel_card:not(.active) .carousel_card_title {
  opacity: 0;
  transform: translateY(-30%);
}
/* End CarouselCard */

/* Carousel */
.carousel {
  display: flex;
  transition: all 0.35s ease 0s;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.dot {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: none;
  padding: 0;
}

.dot:hover {
cursor: pointer
}

.dot:not(:last-child) {
  margin-right: 10px;
}

.dot.active {
background-color: #c9c9c9
}

.dot:not(.active) {
background-color: #545454
}
/* End Carousel */