html, body, #app {
  height: 100vh;
  overflow-x: hidden;
  --background: #24202a;
}

body {
  margin: 0;
  background-color: var(--background);
}

#app {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
