@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: black;
}

#app {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
