.wrapper {
  display: flex;
  flex-basis: 110px;
  align-self: center;
  height: 35em;
  width: 90%;
  transform-style: preserve-3d;
  perspective: 1000px;
  margin-top: -20em;
}
.bg {
  height: 35em;
  width: 90%;
  background-color: #2b2b2b;
}
.card {
  flex: 1;
  display: flex;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transform: rotateY(0) rotateX(0) scale(1);
  transition: transform 0.2s;
}
